<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.instai.open.mapper.ApiresourceMapper">
  <resultMap id="BaseResultMap" type="com.instai.open.model.Apiresource">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="api_code" jdbcType="VARCHAR" property="apiCode" />
    <result column="api_name" jdbcType="VARCHAR" property="apiName" />
    <result column="api_url" jdbcType="VARCHAR" property="apiUrl" />
    <result column="api_desc" jdbcType="VARCHAR" property="apiDesc" />
    <result column="api_moudle" jdbcType="VARCHAR" property="apiMoudle" />
    <result column="arg_1" jdbcType="VARCHAR" property="arg1" />
    <result column="arg_2" jdbcType="VARCHAR" property="arg2" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_by" jdbcType="INTEGER" property="modifyBy" />
    <result column="modify_date" jdbcType="VARCHAR" property="modifyDate" />
  </resultMap>
  <insert id="insert" parameterType="com.instai.open.model.Apiresource">
    insert into t_base_auth20_apiresource (id, api_code, api_name, 
      api_url, api_desc, api_moudle, 
      arg_1, arg_2, create_by, 
      create_date, modify_by, modify_date
      )
    values (#{id,jdbcType=INTEGER}, #{apiCode,jdbcType=VARCHAR}, #{apiName,jdbcType=VARCHAR}, 
      #{apiUrl,jdbcType=VARCHAR}, #{apiDesc,jdbcType=VARCHAR}, #{apiMoudle,jdbcType=VARCHAR}, 
      #{arg1,jdbcType=VARCHAR}, #{arg2,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=INTEGER}, #{modifyDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.instai.open.model.Apiresource">
    insert into t_base_auth20_apiresource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="apiCode != null">
        api_code,
      </if>
      <if test="apiName != null">
        api_name,
      </if>
      <if test="apiUrl != null">
        api_url,
      </if>
      <if test="apiDesc != null">
        api_desc,
      </if>
      <if test="apiMoudle != null">
        api_moudle,
      </if>
      <if test="arg1 != null">
        arg_1,
      </if>
      <if test="arg2 != null">
        arg_2,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyBy != null">
        modify_by,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="apiCode != null">
        #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="apiName != null">
        #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="apiUrl != null">
        #{apiUrl,jdbcType=VARCHAR},
      </if>
      <if test="apiDesc != null">
        #{apiDesc,jdbcType=VARCHAR},
      </if>
      <if test="apiMoudle != null">
        #{apiMoudle,jdbcType=VARCHAR},
      </if>
      <if test="arg1 != null">
        #{arg1,jdbcType=VARCHAR},
      </if>
      <if test="arg2 != null">
        #{arg2,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>